// Place all the styles related to the Panels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.panel {
  margin: 0em 2em;
  padding: 0.6em 2em 2em 1em;
  border-spacing: 0.5em;
  background-color: #695;

  thead {
    th {
      heigth: 0em;
      color: white;
    }
  }
  
  tr {
    /* 警報パネルの左に表示される A, B, C... */
    td.vertical_header {
      padding: 0 0.8em 0 0;
      width: 1%;
      color: black;
      background-color: #693;
    }

    td {
      height: 5em;
      margin: 0.5em;
      width: 8%;
      background-color: #fff;
      padding: 0.5em;
      text-align: center;
      color: #999;
    }

    /* リンク */
    a {
      /* 下線を表示させない */
      text-decoration: none;
    }

    /* 一括警報へのリンク */
    a.panel {
      color: #063;
    }

    /* マウスカーソルが上に乗っているとき */
    a:hover {
      color: white;
      background-color: gray;
    }
  }
}


#list_of_panels li.board {
  color: #bbb;
  margin: 1em;
  font-size: small;
  table {
    border-spacing: 1em 0.3em;
    font-size: x-large;

    td {
      font-color: red;
      font-size: large;
    }
  }
}
